<style>
#particle-js{
    position:absolute;
    width:100vw;
    height:100vh;
    background-color: ;
}
</style>
<div id="particles-js">


</div>


<script type="text/javascript">
    var chain="<%= chain %>"
    var tokenizAddress ="<%= tokenizAddress %>"
    var chainId ="<%= chainId %>"
    var chainCoin ="<%= chainCoin %>"
    var mintPrice ="<%= mintPrice %>"
    var chainLogo ="<%= chainLogo %>"
    var chainData = <%- JSON.stringify(data) %>
</script>

